<li class="comment">
  <div class="image">
    <!-- // pic -->
    <%= link_to image_tag( comment.user.avatar.url(:small) ), comment.user %>
  </div>
  <div class="text">
    <!-- // text -->
    <strong><%= link_to comment.user.name, comment.user -%></strong> <%= expand_comment( comment.content ) -%>
  </div>
  <div class="menu">
    <!-- // menu -->
    <div class="options">
      <%= link_to t('actions.edit'), edit_comment_path( comment ) -%>&nbsp;&nbsp;&nbsp;
      <%= link_to t('actions.destroy'), comment_path( comment ), :method => :delete -%>
    </div>
    <div class="time"><%= styled_date comment.updated_at -%></div>
  </div>
  <div class="clear"></div>
</li>

