
          <%= image_tag comment.user.avatar.url(:small), :class => "mini-ava", :width => 40, :height => 40, :alt => comment.user.name %>
          <div class="size">
            <%= comment.content -%>
          </div>
          <div class="options">
            <%= link_to t('actions.show'), article_path( comment.article, :anchor => comment.id ) %>
          </div>
          <div class="options">
            <%= link_to t('actions.destroy'), comment, :confirm => t('misc.are_u_sure'), :method => :delete %>
          </div>
          <div class="fine">
            <b>Добавлено:</b> <%= styled_date comment.updated_at -%>
          </div>
