<div>
  <div id="news-of-the-day" class="box column-wrap h500">
    <% if @article %>
    <%= render @article, :type => :news_of_the_day %>
    <% else %>
    <h1><%= t 'titles.no_articles' -%></h1>
    <div class="box-footer"></div>
    <% end %>
  </div>

  <div id="events" class="box column-wrap h500">

    <a href="<%= events_path -%>" title="<%= t 'actions.titles.events_index' -%>">
      <h1><%= t 'titles.announcement' -%></h1>
      <%= render :partial => '/events/short_list', :locals => { :events => @events } %>
      <div class="box-footer"><%= link_to t("actions.show_events"), events_url -%></div>
    </a>
  </div>

  <div class="clear"></div>

  <%= render 'articles/news_line', :news => @news %>

  <div id="features" class=" box column-wrap h200">
    <h1><%= link_to t('titles.features'), category_path('features') -%></h1>
    <div class="feature column-wrap first h172">
      <% if @feature0 %>
        <a href="<%= article_path(@feature0) %>">
          <%= image_tag @feature0.imagemh.url %>
	  <h2><%= @feature0.title -%></h2>
          <p><%= @feature0.description -%></p>
          <div class="box-footer"><%= @feature0.publish_date.to_s(:short) -%></div>
	</a>
      <% else %>
        <%= t 'misc.no_feature' -%>
	<div class="box-footer"></div>
      <% end %>
      <div class="clear"></div>
    </div>
    <div class="feature column-wrap h172">
      <% if @feature1 %>
        <a href="<%= article_path(@feature1) %>">
          <%= image_tag @feature1.imagemh.url %>
	  <h2><%= @feature1.title -%></h2>
          <p><%= @feature1.description -%></p>
          <div class="box-footer"><%= @feature1.publish_date.to_s(:short) -%></div>
	</a>
      <% else %>
        <%= t 'misc.no_feature' -%>
	<div class="box-footer"></div>
      <% end %>
      <div class="clear"></div>
    </div>
  </div>

  <div id="reviews" class="box column-wrap h200">
    <h1><%= link_to t('titles.reviews'), category_path('review') -%></h1>
    <% if @review %>
      <a href="<%= article_path @review -%>">
	<%= image_tag @review.imagemh.url %>
	<h2><%= @review.title -%></h2>
	<p><%= @review.description -%></p>
	<div class="box-footer"><%= @review.publish_date.to_s(:short) -%></div>
      </a>
    <% else %>
      <%= t 'misc.no_review' -%>
      <div class="box-footer"></div>
    <% end %>
    <div class="clear"></div>
  </div>

  <div id="categories" class="box column-wrap h200">
    <a href="<%= categories_path -%>">
      <h1><%= t('titles.categories') -%></h1>
    </a>
    <% if @public_category_last -%>
    <a href="<%= article_path @public_category_last -%>">
      <%= image_tag @public_category_last.imagemh.url %>
      <h2><%= @public_category_last.title %></h2>
      <p><%= @public_category_last.description -%></p>
      <div class="box-footer"><%= @public_category_last.publish_date.to_s(:short) -%></div>
    </a>
    <% else %>
    <div class="box-footer"></div>
    <% end %>
    <div class="clear"></div>
  </div>

  <div class="clear"></div>
  
</div>
