<% if type == :news_of_the_day %>

<h1><%= link_to t('actions.show_news_of_the_day'), article_path(article) -%></h1>
<img src="<%= article.imagebv.url -%>" />
<h2><%= article.title -%></h2>
<p><%= article.content -%></p>
<div class="box-footer">Корреспондент: <%= link_to article.user.name, user_path(article.user) -%></div>

<% elsif type == :plain %>

<h2><%= article.title -%></h2>
<p><%= article.content -%></p>
<p><%= article.image.url -%></p>

<div id="article-info">
  <ul>
    <li><%= article.author -%></li>
    <li><%= article.source -%></li>
    <li><%= article.photographer -%></li>
    <li><%= article.category.name -%></li>
  </ul>
</div>

<% elsif type == :list_item %>

<li><%= article.title -%> | <%= link_to t('actions.show'), article -%></li>

<% elsif type == :category_list_item %>

<li>
  <div class="h150 column-wrap list-pic">
    <%= image_tag article.imagemv.url %>
    <div class="list-pic-footer"><%= article.updated_at.to_s(:short) -%><hr/></div>
  </div>
  <div class="column-wrap h150">
    <h2><%=h article.title -%></h2>
    <p><%=h article.description -%></p>
    <div class="box-footer"><%= link_to t('actions.read_next'), article -%></div>
    <div class="clear"></div>
  </div>
</li>

<% end %>
