<% if type == :news_of_the_day -%>


<h1><%= t('actions.show_news_of_the_day') -%></h1>
<div class="box-ph-408">
  <div class="box-ffff">
    <div class="title-ph"><%= article.title -%></div>
    <div class="meta"><%= link_to_remote "Предыдущая новость", :url => prev_news_of_the_day_path(article.id) -%> | <%= link_to_remote "Следующая новость", :url => next_news_of_the_day_path(article.id) -%> | <a href="<%= article_path(article) -%>">Читать далее</a></div>
  </div>
  
  <img src="<%= article.imagemm.url -%>" />
</div>

<!-- Tes this!  <%= link_to_remote "Предыдущая новость", :url => prev_news_of_the_day_path(article.id) -%><br />
    <%= link_to_remote "Следующая новость", :url => next_news_of_the_day_path(article.id) -%> -->

<a href="<%= article_path(article) -%>">
  <div class="max-news-height">
    <h2><%= article.title -%></h2>
    <p><%= article.description -%></p>
    
  </div>
</a>
<div class="box-footer"><b>Корреспондент: </b><%= article_author_link( article ) -%>  
  <% unless article.source_link.blank? %>
  | <b> Источник:</b> <%= article_source_link( @article ) -%>
  <% end %>
</div>

<% elsif type == :plain -%>

<h2><%= article.title -%></h2>
<p><%= article.content -%></p>
<p><%= article.image.url -%></p>

<div id="article-info">
  <ul>
    <li><%= article.author -%></li>
    <li><%= article.source -%></li>
    <li><%= article.photographer -%></li>
    <li><%= article.category.name -%></li>
  </ul>
</div>

<% elsif type == :list_item -%>

<li><%= article.title -%> | <%= link_to t('actions.show'), article -%></li>

<% elsif type == :category_list_item -%>

<li class="ui-state-default <%= (defined?(odd) && (odd == 'true' ? ' odd' : '') ) -%>">
  <a href="<%= article_url( article ) -%>">
    <div class="box-system-prev">
      <%= image_tag article.imagemv.url, :class => "img-news" %>
      <div class="time-news"><%= article.publish_date ? Russian::strftime( article.publish_date, "%d %B %Y").split.map{|w|w.mb_chars.capitalize}.join(" ") : t('misc.article_unpublished') -%></div>
      <div class="news-content"><div class="title"><%=h article.title -%></div>
        <p><%=h article.description -%></p>
      </div>
    </div>
  </a>
</li>

<% elsif type == :editor_item -%>

<div class="category-item">
  <div class="category-image">
    <a href="/categories/1069603862">
      <%= image_tag article.imagemv.url %>
    </a>
  </div>
  <div class="category-info">
    <h2>
      <%= link_to article.title, article_path(article) -%>
    </h2>
    <div class="min-previu">
      <p><%= link_to t('activerecord.attributes.article.category'), article_path(article) -%></p>
    </div>
    <ul class="min-user">
      <li class="box-list-miniuser">
        
        <a href="<%= article_path(article) -%>">
          <%= image_tag article.imagemv.url, :height => 40, :width => 40, :class => "mini-ava" %>
        </a>
        <div class="size">
          <%= link_to article.title, article_path(article) -%>
        </div>
        <div class="options"><%= link_to 'Просмотр', article_path(article) -%></div>
	<div class="fine"><b>Добавленно:</b> 10июня | <b>Автор:</b> Кристина Метревели</div>
      </li>
    </ul>
    <div class="category-info-footer">
      <div class="category-info-footer-attributes">
        <div class="link"><%= link_to 'Все статьи', category_path( article.category ) -%></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="menu-rub">
    <a href="http://fake-mm.ru/categories/1069603862/edit">Редактировать</a>
    <a href="http://fake-mm.ru/categories/1069603862/edit">Убрать с публикации</a>
  </div>
  <div class="clear"></div>
</div>

<!--
<div class="editor-item">
  <div class="editor-item-title"><%= link_to article.title, article_path(article) -%><id><%= article.id -%></id></div>
  <div class="editor-item-info">
    <p><b><%= t('activerecord.attributes.article.category')-%></b>:
      <%= t("categories.#{article.category.sysname}") -%></p>
    <p><b><%= t('activerecord.attributes.article.published')-%></b>:
      <% if article.published? %>
        <%= link_to styled_date( article.publish_date ), article_unpublish_path(article) %>
      <% else %>
        <%= link_to t('misc.answer_no'), article_publish_path(article), {:class => 'alert'} %>
      <% end %>
    <p><b><%= t('activerecord.attributes.article.draft')-%></b>:
      <% if article.draft? %>
        <%= link_to t('misc.answer_yes'), article_undraft_path(article) %>
      <% else %>
        <%= link_to t('misc.answer_no'), article_to_drafts_path(article) %>
      <% end %>
    <p><b><%= t('activerecord.attributes.article.importance')-%></b>:
      <%= article.importance -%></p>
  </div>
  <div class="editor-item-content">
    <%= image_tag article.imagemv.url %>
    <%= article.internal_comment %>
  </div>
  <div class="clear"></div>
  <div class="editor-item-footer">
    <div class="editor-item-options">
      <%= link_to t( 'actions.edit' ), edit_article_path( article ) -%> |
      <%= link_to t( 'actions.destroy' ), article_path( article, :method => :delete ) -%> |
      <%= link_to t( 'misc.pictures' ), article_show_pictures_path( article ) -%>
    </div>
    <%= t('misc.created_at') -%>:
    <%= article.created_at.to_s(:short) -%> |
    <%= t('misc.updated_at') -%>:
    <%= article.updated_at.to_s(:short) -%>
  </div>
</div>
-->
<% else -%>

<p>Unknown template type: <%= type -%> for article</p>

<% end -%>
