<div id="news-line" class="box">
  <h1><%= t('titles.news') -%></h1>
  <ul>
    <% i = 1 ; for article in news do %>
    <li class="column-wrap news-item<%= i == news.size ? ' last' : ' right-margin' -%>">
      <% if article.new_record? %>
	<div><%= image_tag article.imagemv.url %></div>
	<p><%= article.title -%></p>
      <% else %>
        <a href="<%= article_url(article) -%>">
          <div><%= image_tag article.imagemv.url %></div>
          <p><%= article.title -%></p>
        </a>
      <% end %>
      <div class="news-box-footer">
	<% unless article.new_record? %>
	<%= link_to "#{article.comments.count} #{Russian.p( article.comments.count, 'коментарий', 'коментария', 'коментариев' )}",
	            article_path(article, :anchor => 'comments') -%>
	<% else %>
	&nbsp;
	<% end %>
      </div>
    </li>
    <% i += 1; end %>
  </ul>
  <div class="clear"></div>
</div>
