<div id="article-simple" class="box">
  <% unless current_user -%>
    <%= image_tag @article.imagebv.url, :class => 'main-image' -%>
    <h1><%=h @article.category.name -%></h1>
    <h2><%=h @article.title -%></h2>
    <p class="description"><%= @article.description -%></p>
    <p><%= @article.content -%></p>
    <div class="clear article-footer box-footer-plain"><%= article_footer @article -%></div>
  <% else -%>
    <h1><%=h @article.category.name -%></h1>
    <%= image_tag @article.imagebh.url, :class => 'main-image' -%>
 
    <h2><%=h @article.title -%></h2>
    <p class="description"><%= @article.description -%></p>
    <p><%= @article.content -%></p>
    <div class="clear article-footer box-footer-plain"><%= article_footer @article -%></div>

  <% end -%>
</div>
<div id="share-buttons">
  <!-- under construction -->
  <!--
     <script type="text/javascript">
       tweetmeme_url = 'http://yoururl.com';
       tweetmeme_style = 'compact';
       tweetmeme_text = 'qwe';
     </script>
     <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
     -->
  <script type="text/javascript">
    document.write(VK.Share.button({
      title: "Статья на Fake-mm.ru",
      description: "Читаю статью \"<%= @article.title -%>\" на fake-mm.ru"},{type: "round", text: "Поделиться"}));
  </script>
</div>

<%= render :partial => 'simple_article_comments' -%>
