<div id="article-simple" class="box">
  <% unless current_user -%>
    <%= image_tag @article.imagebv.url, :class => 'main-image' -%>
    <h1 class="top"><%=h @article.category.name -%></h1>
    <h2><%=h @article.title -%></h2>
    <p class="description"><%= @article.description -%></p>
    <p><%= @article.content -%></p>
    <div class="clear article-footer box-footer-plain"><%= article_footer @article -%></div>
  <% else -%>
    <h1><%=h @article.category.name -%></h1>
    <%= image_tag @article.imagebh.url, :class => 'main-image' -%>
 
    <h2><%=h @article.title -%></h2>
    <p class="description"><%= @article.description -%></p>
    <p><%= @article.content -%></p>
    <div class="clear article-footer box-footer-plain"><%= article_footer @article -%></div>

  <% end -%>
</div>
<div id="share-buttons">
  <!-- under construction -->
  <!--
     <script type="text/javascript">
       tweetmeme_url = 'http://yoururl.com';
       tweetmeme_style = 'compact';
       tweetmeme_text = 'qwe';
     </script>
     <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
     -->
<div style="float: left; margin-right: 1ex;" >  <script type="text/javascript">
    document.write(VK.Share.button({
      title: "<%= @article.title -%>",
      description: "<%=h @article.description -%> Читать далее: <%= article_url( @article ) -%>"},{type: "round", text: "Поделиться"}));
  </script>
</div>
  <iframe src="http://www.facebook.com/plugins/like.php?href=<%= article_url @article -%>&amp;layout=button_count&amp;show_faces=true&amp;width=100&amp;action=like&amp;font=tahoma&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:23px;" allowTransparency="true"></iframe>
</div>

<%= render :partial => 'simple_article_comments' -%>
