<h1><%= t 'titles.edit_article' -%></h1>

<% form_for(@article, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%= styled_field 'edit', @article, :title, f, :text_field %>
  <%= styled_field 'edit', @article, :sysname, f, :text_field %>
  <%= styled_field 'edit', @article, :description, f, :text_area %>
  <%= styled_field 'edit', @article, :content, f, :text_area %>
  <%= styled_field 'edit', @article, :imagebv, f, :file_field %>
  <%= styled_field 'edit', @article, :imagebh, f, :file_field %>
  <%= styled_field 'edit', @article, :imagemv, f, :file_field %>
  <%= styled_field 'edit', @article, :imagemh, f, :file_field %>

  <p>
    <%= f.submit t('actions.update') %>
  </p>
<% end %>

<%= link_to t('actions.show'), @article %>
