<h1><%= t 'titles.edit_article' -%></h1>

<% form_for(@article, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :imagebv %><br />
    <%= f.file_field :imagebv %>
  </p>
  <p>
    <%= f.submit t('actions.update') %>
  </p>
<% end %>

<%= link_to t('actions.show'), @article %>
