<h1><%= t 'titles.new_article' -%></h1>

<% form_for(@article, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :imagebv408x611 %><br />
    <%= f.file_field :imagebv %>
  </p>
  <p>
    <%= f.label :imagebh500x300 %><br />
    <%= f.file_field :imagebh %>
  </p>
  <p>
    <%= f.label :imagemv96x96 %><br />
    <%= f.file_field :imagemv %>
  </p>
  <p>
    <%= f.label :imagemh200x300 %><br />
    <%= f.file_field :imagemh %>
  </p>

  <p>
    <%= f.submit t('actions.create') %>
  </p>
<% end %>
