<% if @pictures_only -%>
  <%= render :partial => "template_pictures_only" %>
<% elsif @article.style %>
  <%= render :partial => "template_#{@article.style.template}" %>
<% else %>

<%= styled_field 'text', @article, :title %>
<p>
  <b>Category:</b>
  <%=h @article.category.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @article.content %>
</p>

<p>
  <b>Content:</b>
  <%=h @article.content %>
</p>

<p>
  <b>Imagebv:</b>
  <%= image_tag @article.imagebv.url %>
</p>

<p>
  <b>User:</b>
  <%=h @article.user.email %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %>

<div id="comments">
  <% for comment in @article.comments do %>
    <%= render comment %>
  <% end %>

  <div id="comment-menu">
    <%= link_to t('actions.new_comment'), new_article_comment_path(@article) -%>
  </div>
</div>
<% end %>
