  <div class="right-men-menu">
    <ul>
      <li> <%= link_to_remote t('titles.contacts'), :url => edit_user_path(@user, :section => 'contacts'),
	                                            :method => :get,
	                                            :update => "#user-profile-content" -%></li>
      <li> <%= link_to_remote t('titles.about'),    :url => edit_user_path(@user, :section => 'about'),
	                                            :method => :get,
	                                            :update => "#user-profile-content" -%></li>
      <li> <%= link_to_remote t('titles.avatar'),   :url => edit_user_path(@user, :section => 'avatar'),
	                                            :method => :get,
	                                            :update => "#user-profile-content" -%></li>
    </ul>
    <ul>
      <li> <%= link_to_remote t('titles.security'), :url => edit_user_path(@user, :section => 'security'),
	                                            :method => :get,
	                                            :update => "#user-profile-content" -%></li>
      <% permitted_to? :manage, :users do %>
      <li> <%= link_to_remote t('titles.roles'),    :url => edit_user_path(@user, :section => 'roles'),
	                                            :method => :get,
	                                            :update => "#user-profile-content",
                                                    :success => %Q{activate_selectable()} -%></li>
      <% end %>
    </ul>
  </div>
