<div class="red-profile">
  <h2><%=t 'titles.roles' -%></h2>

<% permitted_to? :manage, :users do %>
  <% fields_for @user do |f| %>
  <%= f.hidden_field :roles, :value => @user.roles_string %>
  <% end %>

  <ul id="role-selectable" class="selectable">
    <% Role.all.each do |role| -%>
    <li class="selectable-item<%= @user.roles.include?( role ) ? ' ui-selected' : '' -%>" data-role="<%= role.sysname -%>"><%= role.name -%></li>
    <% end -%>
  </ul>
<% end %>

</div>
