<div class="red-profile">
  <h2><%=t 'titles.about' -%></h2>
  <% fields_for @user do |f| %>
<%= styled_field 'edit', @user, :nick, f, 'text_field' %>
<%= styled_field 'edit', @user, :birthday, f, 'date_select' %>
<%= styled_field 'edit', @user, :fname, f, 'text_field' %>
<%= styled_field 'edit', @user, :lname, f, 'text_field' %>
<%= styled_field 'edit', @user, :sname, f, 'text_field' %>
<%= styled_field 'edit', @user, :gender, f, 'gender_select' %>
<%= styled_field 'edit', @user, :city, f, 'text_field' %>
  <% end %>
<!--
<table width="100%" cellspacing="0" cellpadding="5px">
<caption>О себе</caption>
<tbody><tr>
<td align="right" width="100px"><div class="field_label"><label for="user_fname">Дата рождения</label></div></td>
<td><div class="field"><input type="text" value="Антон" size="25" name="user[fname]" id="user_fname"></div> </td>
</tr>
<tr style="vertical-align: top;">
<td align="right" width="100px"><div class="field_label"><label for="user_fname">О себе</label></div></td>
<td align="top"><div class="field">
<textarea size="25" name="user[fname]" id="user_fname" rows="10" cols="25"></textarea>
</div> </td>
</tr>

<tr style="vertical-align: top;">

<td align="right" width="100px"><div class="border-pset"></div><div class="field_label"><label for="user_fname">Любимая музыка</label></div></td>
<td align="top"><div class="border-pset"></div><div class="field">
<textarea size="25" name="user[fname]" id="user_fname" rows="10" cols="25"></textarea>
</div> </td>
</tr>
<tr style="vertical-align: top;">

<td align="right" width="100px"><div class="border-pset"></div></td>
<td align="top"><div class="border-pset"></div></td>
</tr>
</tbody></table>
-->
</div>
