<h1><%= t('titles.edit_user') %></h1>

<% permitted_to? :manage, :users do %>
<div class="red-profile">
  <h2>Что происходит вообще?</h2>
  <p>
    Ваш профиль: <%= @current_user.id -%>, <%= @current_user.name -%>, <%= @user.email -%><br /><br />
    Вы редактируете профиль: <%= @user.id -%>, <%= @user.name -%>, <%= @user.email -%></p>
</div>
<% end %>

<div id="user-profile" data-user-id="<%= @user.id -%>">

<% form_for(@user, :html => { :multipart => true }) do |f| %>
<%= f.error_messages %>

<div id="user-profile-content">
<%= render :partial => "edit_#{@section}", :locals => { :f => f }  %>
</div>

<div class="red-profile">
<%= f.submit t('actions.update') -%>
</div>

<%= render :partial => 'edit_menu' %>

<% end %>
<div class="clear"></div>
</div>
