<h1><%= t('activerecord.models.user') -%></h1>
<div id="user-avatar">
  <%= image_tag @user.avatar.url -%>
</div>
<div id="user-info">
  <div id="user-name"> 
    <h2><%= @user.name -%></h2>
    <p><%= (@user.role_symbols - [:guest]).map{|s| t("roles.#{s}")}.join(', ') -%></p>
  </div>
  
  <%= styled_field 'text', @user, :nick %>
  <%= styled_field 'text', @user, :age %>
  <%= styled_field 'text', @user, :email %>
  
  <div class="clear"></div>
</div>
