<h1><%= t('activerecord.models.user') -%></h1>

<div id="user-avatar">
  <%= image_tag @user.avatar.url -%>
</div>
<div id="user-info">
  <div id="user-title"> 
    <div id="user-name" class="editable">
      <div class="edit-link"><%= link_to t('actions.edit'), edit_user_path(@user) -%></div>
      <%= @user.name -%>
    </div>
    <div id="user-roles" class="editable">
      <% has_role? :admin do %>
      <div class="edit-link"><%= link_to t('actions.edit'), '#' -%></div>
      <% end %>
      <%= (@user.role_symbols - [:guest]).map{|s| t("roles.#{s}")}.join(', ') -%>
    </div>
  </div>
  <div id="user-data" class="editable">
    <div class="edit-link"><%= link_to t('actions.edit'), edit_user_path(@user) -%></div>
    <table>
      <tr>
        <td><%= t 'activerecord.attributes.user.nick' -%></td>
        <td><%= @user.nick -%></td>
      </tr>
      <tr>
        <td><%= t 'activerecord.attributes.user.email' -%></td>
        <td><%= @user.email -%></td>
      </tr>
      <tr>
        <td><%= t 'activerecord.attributes.user.city' -%></td>
        <td><%= @user.city -%></td>
      </tr>
      <tr>
        <td><%= t 'activerecord.attributes.user.birthday' -%></td>
        <td><%= @user.birthday -%></td>
      </tr>
      <tr>
        <td><%= t 'activerecord.attributes.user.gender' -%></td>
        <td><%= @user.gender -%></td>
      </tr>
      <tr class="about">
        <td><%= t 'activerecord.attributes.user.about' -%></td>
        <td><%= @user.about -%></td>
      </tr>
    </table>
  </div>
  <div class="clear"></div>
</div>
