<h1><%= t('activerecord.models.user') -%></h1>

<div id="user-menu">
  <ul>
    <li><%= link_to t('actions.show_articles'), articles_path -%></li>
    <li><%= link_to t('actions.show_comments'), comments_path -%></li>
    <li><%= link_to t('actions.show_categories'), categories_path -%></li>
  </ul>
</div>

<p>
  <b><%=t 'activerecord.attributes.user.email' -%></b>:
  <%=h @user.email %>
</p>

<%= link_to t('actions.edit'), edit_user_path(@user) %>
