<% remote_form_for event, :with => %Q{btn=$(#) }, :builder => SmallFormBuilder do |f| -%>
<div>
    
  <%= f.text_field :title, :class => 'h616' -%>
  <%= f.text_field :text, :class => 'h616' -%>
  <%= f.text_field :artist -%>
  <div class="left-fields"><%= f.text_field :city, :class => 'h408' -%></div>
  <%= f.text_field :date, :class => 'h200' -%>
  <div class="left-fields"><%= f.text_field :club, :class => 'h408' -%></div>
  <%= f.text_field :price, :class => 'h200' -%>
  <div class="left-fields"><%= f.text_field :link, :class => 'h408' %></div>
  <%= f.text_field :id, :disabled => true, :class => 'h200' %>
  <%= hidden_field_tag 'submit_button', '' %>
</div>

<div class="controls">
  <%= f.submit t("actions.update"), { :onclick => %Q{ $('#submit_button').val('save') }} %>
  <% if Event.in_future.count > 0 %>
    <%= f.submit t("actions.prev"),   { :onclick => %Q{ $('#submit_button').val('prev')   }} %>
    <%= f.submit t("actions.next"),   { :onclick => %Q{ $('#submit_button').val('fwd')   }} %>
    <% unless event.new_record? -%>
      <%= button_to_remote t("actions.destroy"), :url => event_path(event), :method => :delete  %>
    <% end -%>
  <% end %>
</div>
<% end %>
