  <div class="top-line"></div>
  <% @events.each do |event| -%>
    <% if event.link -%>
    <a href="<%= event.link -%>">
    <% end -%>
    <table class="element<%= (defined?( short ) && short) ? " short" : " long"-%><%=  -%>">
      <tr>
	<td class="date"><%=h event.date.to_s(:short) %></td>
	<td class="text"><%=h event.title %> <%=h event.text %></td>
	<td class="club"><%=h event.club %></td>
	<% unless defined?( short ) && short == true -%>
	<td class="city"><%=h event.city %></td>
	<td class="price"><%=h number_to_currency(event.price) %></td>
	<% end -%>
      </tr>
    </table>
    <% if event.link -%>
    </a>
    <% end -%>
  <% end -%>
