        <% if has_role? :admin %>
	<table class="element long<%= event == @event ? %Q{ active} : "" -%><%= event.ready? ? "" : %Q{ invalid} -%>">
	<% else %>
	<table class="element long">
	<% end %>
	  <tr>
	    <td class="icon"><%= image_tag "event_#{event.indicator}.png" -%></td>
	    <td class="date">
	      <%= Russian::strftime( event.date, "%d %B").split.map{|w|w.mb_chars.capitalize}.join(" ") -%>
	    </td>
	    <td class="text"><%= event.title + ' ' + h( event.text ) %></td>
	    <td class="club"><%=h event.club %></td>
	    <td class="city"><%=h event.city %></td>
	    <td class="price"><%=h number_to_currency(event.price) %></td>
	  </tr>
	</table>
