<div class="category-item">
  <a href="<%= category_path(category) -%>">
  <div class="category-image">
    <%= image_tag( category.imagemh.url ) %>
  </div>
  <div class="category-info">
    <h2><%= category.name -%></h2>
    <p><%= category.description -%></p>
    <div class="category-info-footer">
      <div class="category-item-info-footer-source">
	<div><%= t 'activerecord.attributes.category.author'-%> : <%= category.author -%></div>
	<div><%= t 'activerecord.attributes.category.photographer'-%> : <%= category.created_at.to_s(:short) -%></div>
      </div>
      <div class="category-info-footer-attributes">
	<div><%= t 'activerecord.attributes.created_at'-%> : <%= category.created_at.to_s(:short) -%></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  </a>
</div>
