<h1><%=t 'titles.edit_category' -%></h1>

<% form_for @category, :html => { :multipart => true }, :builder => SmallFormBuilder do |f| %>
  <%= f.error_messages %>

  <%= f.text_field :name %>
  <%= f.text_area :description %>
  <%= f.file_field :imagemh %>

  <%= f.check_box :public %>
  <%= f.submit 'Update' %>

<% end %>
