<h1><%=t 'titles.new_category' -%></h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <%= styled_field 'edit', @category, :name, f, :text_field -%>
  <%= styled_field 'edit', @category, :sysname, f, :text_field -%>
  <%= styled_field 'edit', @category, :imagemh, f, :file_field -%>
  <p>
    <%= f.submit t('actions.create') %>
  </p>
<% end %>
