<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>FAKE-MUSICAL MAGAZINE (development)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content=""/>
    <%= stylesheet_link_tag 'web' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    
    <div id="header">
      <div class="width-wrap">
	<div id="entrance">
	  <% unless current_user %>
  	    <%= link_to 'Вход', login_path -%>
	    <%= link_to 'Регистрация', register_path -%>
	  <% else %>
	    <%= link_to 'Профиль', profile_path -%>
  	    <%= link_to 'Выход', logout_path -%>
	  <% end %>
	</div>
	<h1><%= link_to 'FAKE-MUSICAL MAGAZINE', root_path -%></h1>
      </div>
    </div>

    <div id="middle-wrap">
      <div id="middle" class="width-wrap">
	<div id="nav">
	  <div id="top-menu" class="menu">
	    <ul>
	      <li class="first"><%= link_to 'Главная', '' -%></li>
	      <li><%= link_to 'О журнале', '' -%></li>
	      <li><%= link_to 'Поиск', '' -%></li>
	      <li><%= link_to 'Правила пользования', '' -%></li>
	      <li><%= link_to 'Статистика', '' -%></li>
	      <li class="last"><%= link_to 'Обратная связь', '' -%></li>
	    </ul>
	  </div>
	  <div class="menu-header">Главная</div>
	  <div id="main-menu" class="menu">
	    <ul>
	      <li class="first"><%= link_to 'Cover', '' -%></li>
	      <li><%= link_to 'Новости', '' -%></li>
	      <li><%= link_to 'Features', '' -%></li>
	      <li><%= link_to 'Рубрики', '' -%></li>
	      <li><%= link_to 'Рецензии', '' -%></li>
	      <li><%= link_to 'Интерактив', '' -%></li>
	      <li><%= link_to 'Classifields', '' -%></li>
	      <li><%= link_to 'Lists', '' -%></li>
	      <li><%= link_to 'Афиша', '' -%></li>
	      <li class="last"><%= link_to 'Фотоальбом', '' -%></li>
	    </ul>
	  </div>
	  <div class="menu-header">Не главная</div>
	</div>

	<div id="content">
	  <%= yield %>
	</div>

      </div>
      <div id="copyright">FAKE-MM © 2007-2009</div>
    </div>
    
    <div id="footer">
      <div class="width-wrap">
	<div id="left">
	  <p>Наши партнёры:</p>
	  <p>www.art-shot.ru www.alba-studio.ru www.givana-studio.ru</p>
 	</div>
	<div id="center">
	  <img src="/images/fake-logo.png" width='180px' alt='logo' title='logo' />
	</div>
	<div id="right">
	  <p>Наши партнёры:</p>
	  <p>www.art-shot.ru www.alba-studio.ru www.givana-studio.ru</p>
	</div>
      </div>
    </div>
    
  </body>
</html>
