<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>FAKE-MUSICAL MAGAZINE (development)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content=""/>
    <%= stylesheet_link_tag 'web' %>
    <%= javascript_include_tag 'jquery-1.4.min' %>
  </head>
  <body>
    
    <%= render :partial => '/flash', :locals => {:flash => flash} %>

    <div id="header">
      <div class="width-wrap">
	<div id="entrance">
	  <% unless current_user %>
  	    <%= link_to t('actions.login'), login_path -%><br />
	    <%= link_to t('actions.new_user'), register_path -%>
	  <% else %>
	    <%= link_to t('actions.show_profile'), profile_path -%><br />
  	    <%= link_to t('actions.logout'), logout_path -%>
	  <% end %>
	</div>
	<h1><%= link_to 'FAKE-MUSICAL MAGAZINE', root_path -%></h1>
      </div>
    </div>

    <div id="middle-wrap">
      <div id="middle" class="width-wrap">
	
	<div id="nav">
	  <div id="top-menu" class="menu">
	    <ul>
	      <li class="first"><%= link_to 'Главная', root_url -%></li>
	      <li><%= link_to 'О журнале', Article.find_by_sysname('about') -%></li>
	      <li><%= link_to 'Поиск', '#' -%></li>
	      <li><%= link_to 'Правила пользования', Article.find_by_sysname('rules') -%></li>
	      <!-- <li><%= link_to 'Статистика', '' -%></li> -->
	      <li class="last"><%= link_to 'Обратная связь', '' -%></li>
	    </ul>
	  </div>
	  <div class="menu-header">Главная</div>
	  <div id="main-menu" class="menu">
	    <ul>
	      <li class="first"><%= link_to 'Cover', covers_path -%></li>
	      <li><%= link_to 'Новости', news_path -%></li>
	      <li><%= link_to 'Features', features_path -%></li>
	      <li><%= link_to 'Рубрики', categories_path -%></li>
	      <li><%= link_to 'Рецензии', reviews_path -%></li>
	      <li><%= link_to 'Интерактив', interactive_path -%></li>
	      <li><%= link_to 'Classifields', classifields_path -%></li>
	      <!-- <li><%= link_to 'Lists', '' -%></li> -->
	      <!-- <li><%= link_to 'Афиша', '' -%></li> -->
	      <!-- <li class="last"><%= link_to 'Фотоальбом', '' -%></li> -->
	    </ul>
	  </div>
	</div>

	<div id="content" class="<%= current_user ? 'authorized' : 'not-authorized' -%>">
	  <% unless current_user %>
	    <%= yield %>
	  <% else %>
	    <div id="user-sidebar">
	      <div id="user-nav" class="box">
		<h1><%= t('titles.user_menu') -%></h1>
		<ul>
		  <li><%= link_to t('actions.show_articles'), articles_path -%></li>
		  <li><%= link_to t('actions.show_my_articles'), user_articles_path(current_user) -%></li>
		  <li><%= link_to t('actions.show_comments'), comments_path -%></li>
		  <li><%= link_to t('actions.show_my_comments'), user_comments_path(current_user) -%></li>
		  <li><%= link_to t('actions.show_categories'), categories_path -%></li>
		  <li><%= link_to t('actions.edit_profile'), edit_user_path(current_user) %></li>
		</ul>
		<ul>
		  <li><%= link_to t('actions.article_editor'), article_editor_path -%></li>
		  <li><%= link_to t('actions.new_article'), new_article_path -%></li>	
		  <% if @article && !@article.new_record? -%>		  
		    <li><%= link_to t('actions.edit_article'), edit_article_path( @article ) -%></li>
		  <% end -%>
		  <li><%= link_to t('actions.new_category'), new_category_path -%></li>
		  <li><%= link_to t('actions.show_drafts'), drafts_path -%></li>
		</ul>

		<ul>
		  <li><%= link_to t('actions.show_users'), users_path -%></li>
		</ul>
	      </div>
	      <div id="user-adversticement" class="box">
	      </div>
	    </div>
	    <div id="user-content" class="box">
	      <%= yield %>
	    </div>
	    <% end %>
	    <div class="clear"></div>
	</div>
	<div id="copyright">FAKE-MM © 2007-2009</div>
      </div>
    </div>
    
    <div id="footer">
      <div class="width-wrap">
	<div id="left">
	  <p>Наши партнёры:</p>
	  <p>www.art-shot.ru www.alba-studio.ru www.givana-studio.ru</p>
 	</div>
	<div id="center">
	  <img src="/images/logo.jpg" width='190px' alt='logo' title='logo' />
	</div>
	<div id="right">
	  <p>Наши партнёры:</p>
	  <p>www.art-shot.ru www.alba-studio.ru www.givana-studio.ru</p>
	</div>
      </div>
    </div>
    
  </body>
</html>
